<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925977595706-6otldo50lpm92jb3fsmcvc0no25360r2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925977595706-6otldo50lpm92jb3fsmcvc0no25360r2</string>
	<key>API_KEY</key>
	<string>AIzaSyDVrv_emK1rBzfobXlj1ch6XwHJN_4_KaA</string>
	<key>GCM_SENDER_ID</key>
	<string>925977595706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puzzle.master</string>
	<key>PROJECT_ID</key>
	<string>puzzle-master-b457c</string>
	<key>STORAGE_BUCKET</key>
	<string>puzzle-master-b457c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925977595706:ios:c317c9ac3e4b3fec700a03</string>
</dict>
</plist>